<div class="row">
    <div class="col mb-4 d-flex justify-content-center align-items-center">
        <h1 class="mb-0 mr-3 font-weight-bold">Posts Dashboard</h1>
        <button (click)="openBlogForm()" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <app-blog-card *ngFor="let blog of blogsArr" [blog]="blog" (emitRemoveId)="onBlogRemove($event)"></app-blog-card>
    </div>
</div>